:host {
  display: block;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

mat-icon {
  font-size: inherit;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}